@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@media screen{

	* {
		box-sizing: border-box;
		position: relative;

		transition: all 0.2s;
		-webkit-transition: all 0.2s;
		-moz-transition:    all 0.2s;
		-ms-transition:      all 0.2s;
		-o-transition:         all 0.2s;
	}

	body{
		margin: 0;
		font-family: 'Open Sans', Arial, sans-serif;
		width: auto;
		max-width: none;
		background-color: #fff;
	}

	.inside{
		max-width: 960px;
		width: 90%;
		margin: 0 auto;
		height: 100%;
	}

	img{
		max-width: 100%;
		max-height: 100%;
	}

	a{
		color: #08c;
		text-decoration: none;
		outline: 0;
		background: transparent;
	}

	a:hover{
		text-decoration: underline;
	}

	a:hover .fa{
		text-decoration: none;
	}

	a[href*="mailto:"]:before, .link[href*="mailto:"]:before{
		content: "\f0e0";
		font-family: "FontAwesome";
		font-style: normal;
		vertical-align: initial;
		margin-right: 3px;
		height: 100%;
	}

	a[href*="tel:"]:before, .link[href*="tel:"]:before{
		content: "\f095";
		font-family: "FontAwesome";
		font-style: normal;
		vertical-align: initial;
		margin-right: 3px;
		height: 100%;
	}

	a[href*="http"]:before, .link[href*="http"]:before{
		content: "\f0ac";
		font-family: "FontAwesome";
		font-style: normal;
		vertical-align: initial;
		margin-right: 3px;
		height: 100%;
	}

	header, footer, html{
		background-color: #292929;
	}

	header{
		padding: 10px;
		width: 100%;
		color: #dfdfdf;
	}

	header i.fa-graduation-cap{
		font-size: 80px;
		float: left;
		margin-right: 10px;
		cursor: pointer;
		z-index: 1;
	}

	header h1{
		margin: 0;
		font-size: 32px;
	}

	header h1 a{
		color: inherit;
	}

	header h1 a:hover{
		text-decoration: none;
	}

	.slogan{
		margin: 0;
		padding: 0;
		font-size: 16px;
	}

	header #header_menubutton{
		color: inherit;
		position: absolute;
		right: 0;
		top: calc(50% - 25px);
		font-size: 50px;
		width: 50px;
		text-align: center;
		border-radius: 25%;
	}

	header #header_menubutton:hover{
		text-decoration: none;
		border-radius: 50%;
		background-color: #dfdfdf;
		color: #292929;
	}

	nav#pagenav{
		overflow: auto;
		max-height: 3px;
		background-color: #ff8b00;
		-webkit-box-shadow: 0 4px 2px -2px gray;
		-moz-box-shadow: 0 4px 2px -2px gray;
		box-shadow: 0 4px 2px -2px gray;
	}

	nav#pagenav ul{
		list-style-type: none;
		margin: 0;
		padding: 0;
		font-size: 0;
	}

	nav#pagenav ul li{
		display: inline-block;
		cursor: pointer;
		background-color: inherit;
		color: #292929;
	}

	nav#pagenav ul li:hover{
		background-color: #f18300;
		-webkit-box-shadow: inset 0 -1px 0 #000;
	    -moz-box-shadow: inset 0 -1px 0 #000;
	    box-shadow: inset 0 -1px 0 #000;
	}

	nav#pagenav ul li:hover a:before{
		content: attr(data-fa-icon) " ";
		font-family: "FontAwesome";
	}

	.logout:before{
		color: #ff0034;
		text-shadow: 0 0 5px black;
	}

	nav#pagenav ul li.current{
		-webkit-box-shadow: inset 0 -2px 0 #000;
	    -moz-box-shadow: inset 0 -2px 0 #000;
	    box-shadow: inset 0 -2px 0 #000;
	}

	nav#pagenav ul li.current a:before{
		content: attr(data-fa-icon) " ";
		font-family: "FontAwesome";
	}

	nav#pagenav ul li a{
		display: block;
		padding: 15px 20px;
		color: inherit;
		font-size: 16px;
	}

	nav#pagenav ul li a:hover{
		text-decoration: none;
	}

	main > .inside{
		padding: 10px 0;
	}

	footer{
		width: 100%;
		color: #dfdfdf;
		padding: 20px 10px;
	}

	article{
		border-bottom: 1px dotted #cacaca;
	}

	article:last-child{
		border: none;
	}

	table {
		text-align: center;
		margin-bottom: 10px;
		line-height: 1;
		background-color: #f9f9f9;
		box-shadow: 0 2px 6px rgba(0,0,0,0.3);
		padding: 1em;
		border-radius: 0;
		margin-bottom: 2em;
		overflow: auto;
		width: 100%;
	}

	td, th {
		padding: 5px !important;
		border: 1px solid gainsboro;
		border-collapse: collapse;
	}

	form {
		line-height: 1;
		padding: auto 1em;
		margin-bottom: 2em;
	}

	form label {
		display: block;
		line-height: 1.7;
		cursor: pointer;
	}

	form input[type="text"],
	form input[type="password"],
	form input[type="number"],
	form input[type="email"],
	form input[type="date"],
	form input[type="file"],
	form textarea,
	form select {
		min-width: 12em;
		padding: 0.25em;
		border: 1px solid #ccc;
		border-radius: 0.25em;
		margin-bottom: 1em;
		display: inline;
	}

	form input[type="color"]{
		padding: 0.25em;
		border: 1px solid #ccc;
		border-radius: 0.25em;
		margin-bottom: 1em;
		display: inline;
	}

	form input[type="checkbox"]{
		margin-top: 0.35em;
		border: 1px solid #ccc;
		border-radius: 0.3em;
	}

	form textarea { min-width: 15em; }

	form input[type="submit"], form input[type="button"], button, .button {
		border: 0;
		padding: 10px;
		border-radius: 0.25em;
		background-color: #eee;
	}

	button, .button{
		border: 1px solid #999;
		display: inline-block;
	}

	a.button{
		color: inherit;
	}

	form input[type="submit"]:hover,
	form input[type="submit"]:focus,
	form input[type="button"]:hover,
	form input[type="button"]:focus,
	button:hover,
	button:focus,
	.button:hover,
	.button:focus{
		background-color: #ddd;
		text-decoration: none;
		-webkit-transition: background-color 0.2s;
		-moz-transition:    background-color 0.2s;
		-ms-transition:     background-color 0.2s;
		-o-transition:      background-color 0.2s;
	}

	form input[type="submit"]:active,
	form input[type="button"]:active,
	button:active,
	button:active a,
	.button:active{
		background-color: #ccc;
		color: #fff;
	}

	.cf:before, .cf:after { content: " "; display: table; }
	.cf:after, .clear { clear: both; }

	.error{
		color: #ff4524;
	}

	.success{
		color: #2ee72f;
		font-weight: bold;
	}

	.pointer{
		cursor: pointer;
	}

	.circular{
		border-radius: 50%;
	}

} /* Ende Media Screen */

@media screen and (max-width: 915px) {
	header{
		text-align: center;
	}

	header h1{
		font-size: 20px;
	}

	header i.fa-graduation-cap{
		font-size: 40px;
		display: block;
		width: 100%;
	}

	header #header_menubutton{
		position: relative;
		width: auto;
		dsplay: block;
		font-size: 30px;
		margin-top: 10px;
	}

	header #header_menubutton:hover{
		background-color: rgba(0, 0, 0, 0);
		color: #dfdfdf;
		text-shadow: 0px 0px 10px #fff;
	}

	nav#pagenav ul li{
		display: block;
		width: 100%;
	}

	nav#pagenav ul li{
		display: block;
		width: 100%;
	}

	nav#pagenav ul li:hover{
		-webkit-box-shadow: inset 0 0 0 #000;
	    -moz-box-shadow: inset 0 0 0 #000;
	    box-shadow: inset 0 0 0 #000;
		background-color: inherit;
	}

	nav#pagenav ul li.current{
		-webkit-box-shadow: inset 0 0 0 #000;
	    -moz-box-shadow: inset 0 0 0 #000;
	    box-shadow: inset 0 0 0 #000;
		font-weight: bold;
	}
} /* Ende Media Mobile Screen */

@media print{

} /* Ende Media Print */
